html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
===================
Variables  
=================== 
*/
/* Colors */
/* Fonts */
/* Adaptive sizes */
/*
===================
 Basic 
=================== 
*/
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*
===================
 Header 
=================== 
*/
.header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: stretch;
}
.header__nav--list {
  display: flex;
  align-items: center;
}
.header__nav--item {
  margin-left: 60px;
}
.header__nav--link {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #f4f5f9;
  text-transform: uppercase;
  text-decoration: none;
}
.header__nav--link:hover {
  padding-bottom: 19px;
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
}

/*
===================
 Main 
=================== 
*/
/*

 Slider 

*/
.slider {
  position: relative;
  min-height: 46.5625vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/banner.png);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.slider::after {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  width: 100%;
  display: block;
  content: ".";
  font-size: 0;
  border: 49vw solid #fff;
  border-bottom: 0px solid;
  border-top: 120px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  z-index: -10;
}
.slider__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider__pretitle {
  padding-bottom: 50px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #f4f5f9;
}
.slider__title {
  position: relative;
  padding-bottom: 100px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #f4f5f9;
  text-transform: uppercase;
  z-index: 100;
}
.slider__title::after {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 7px;
  width: 200px;
  content: ".";
  font-size: 0;
  background-image: url(../img/devider.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}
.slider__desc {
  padding-bottom: 75px;
  max-width: 600px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #cbc6c0;
  text-align: center;
}
.slider__btns {
  display: flex;
  justify-content: center;
}
.slider__btns--btn {
  min-width: 225px;
  margin-right: 15px;
  padding: 20px 0;
  background: none;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.slider__btns--btn:last-of-type {
  margin-right: 0;
  margin-left: 15px;
}
.slider__btns--btn:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.slider__controls {
  position: absolute;
  top: 45%;
  transform: translateX(-50%);
  height: 2.8125rem;
  width: 2.8125rem;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background: #716b64;
  font-size: 20px;
  color: #fff;
  border-radius: 2px;
  mix-blend-mode: multiply;
  z-index: 50;
}
.slider__controls.left {
  left: 5%;
}
.slider__controls.right {
  left: 95%;
}
.slider__controls i {
  width: 100%;
}
.slider__controls:hover {
  background-color: #e74c3c;
  mix-blend-mode: normal;
}
.slider__anchor {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.25);
  background-clip: content-box;
  z-index: 50;
}
.slider__anchor svg {
  width: 22px;
  height: 31px;
  fill: #e74c3c;
}

/*

 Uniques 

*/
.uniques {
  padding: 115px 0;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e7eb;
}
.uniques__block {
  display: flex;
}
.uniques__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
}
.uniques__card:hover .uniques__card--icons {
  transform: rotate(45deg);
  transition: 1s;
  border-color: #e74c3c;
}
.uniques__card:hover .uniques__card--svg {
  transform: rotate(-45deg);
  transition: 1s;
}
.uniques__card:hover .uniques__card--title {
  color: #e74c3c;
}
.uniques__card:last-of-type {
  padding-right: 0;
}
.uniques__card:first-of-type {
  padding-left: 0;
}
.uniques__card--icons {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.4375rem;
  height: 4.4375rem;
  border: 1px solid #e5e5e5;
}
.uniques__card--svg {
  width: 30px;
  height: 27px;
  fill: #e74c3c;
}
.uniques__card--title {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #6a6a6a;
  text-transform: uppercase;
}
.uniques__card--title::after {
  margin-top: 20px;
  display: block;
  content: ".";
  font-size: 0;
  height: 1px;
  width: 40px;
  background-color: #888888;
}
.uniques__card--text {
  max-width: 250px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.75rem;
  color: #999;
  line-height: 1.25rem;
  text-align: center;
}

/*

 About 

*/
.about {
  padding: 140px 0;
}
.about__block {
  display: flex;
}
.about__side-img {
  padding-right: 40px;
  width: 50%;
}
.about__side-img--img {
  width: 100%;
}
.about__content {
  padding-left: 40px;
  width: 50%;
}
.about__title {
  display: flex;
  padding-bottom: 55px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #6a6a6a;
}
.about__title::before {
  margin-right: 30px;
  content: ".";
  display: block;
  background-color: #e74c3c;
  font-size: 0;
  height: 36px;
  width: 6px;
}
.about__text {
  padding-bottom: 45px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.8125rem;
  color: #999;
}
.about__btn {
  padding: 20px 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #e74c3c;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/*

 Services 

*/
.services {
  padding: 150px 0;
  background-color: #202020;
  background-image: url(../img/services-banner.png);
  background-size: 45.83% 100%;
  background-position: right;
  background-repeat: no-repeat;
}
.services__block {
  display: flex;
  justify-content: flex-start;
}
.services__content {
  width: 56.83%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.services__box, .services__title {
  padding-right: 5rem;
}
.services__title {
  padding-bottom: 5rem;
  display: flex;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  color: #f4f5f9;
  text-transform: uppercase;
}
.services__title::after {
  margin-left: 30px;
  content: ".";
  display: block;
  background-color: #e74c3c;
  font-size: 0;
  height: 36px;
  width: 6px;
}
.services__box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 10;
}
.services__box--title {
  padding-bottom: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.125rem;
  color: #e74c3c;
  text-transform: uppercase;
}
.services__box--text {
  padding-bottom: 70px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.8125rem;
  color: #999;
  text-align: right;
}
.services__box::after, .services__box:first-of-type::after, .services__box:last-of-type::after {
  position: absolute;
  content: ".";
  font-size: 0;
  top: 0;
  left: 100%;
  transform: translate(-50%, 10%);
  background-image: url(../icons/services-document.svg);
  background-repeat: no-repeat;
  background-position: center;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.25);
  background-clip: content-box;
  z-index: 50;
}
.services__box:first-of-type::after {
  background-image: url(../icons/services-computer.svg);
}
.services__box:last-of-type::after {
  background-image: url(../icons/services-camera.svg);
}

/*

 Works 

*/
.works {
  padding-top: 140px;
}
.works__block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.works__title {
  padding-bottom: 30px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #6a6a6a;
  text-transform: uppercase;
}
.works__subtitle {
  padding-bottom: 100px;
  position: relative;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #999;
  z-index: 100;
}
.works__subtitle::after {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 7px;
  width: 200px;
  content: ".";
  font-size: 0;
  background-image: url(../img/devider.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}
.works__categories {
  padding-bottom: 50px;
}
.works__list {
  display: flex;
  justify-content: center;
}
.works__item::after {
  content: "/";
  display: inline-block;
  font-size: 0.875rem;
  color: #999;
  padding-right: 15px;
}
.works__item:last-of-type::after {
  font-size: 0;
}
.works__btn {
  margin-right: 15px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #999;
  background: none;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.works__btn:hover {
  color: #e74c3c;
}
.works__btn:focus {
  outline: none;
  color: #e74c3c;
}
.works__palette {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.works__palette--item {
  position: relative;
  display: flex;
  width: 25%;
  z-index: 100;
}
.works__palette--item:hover .works__palette--content {
  z-index: 2000;
}
.works__palette--item:hover::after {
  content: ".";
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(231, 76, 60, 0.8);
  z-index: 1000;
}
.works__palette--img {
  width: 100%;
  z-index: 10;
}
.works__palette--content {
  position: absolute;
  top: 72.91%;
  left: 10.41%;
  z-index: 1;
}
.works__palette--content::before {
  margin-bottom: 20px;
  content: ".";
  font-size: 0;
  display: block;
  background-color: #fff;
  height: 4px;
  width: 44px;
}
.works__palette--title {
  padding-bottom: 20px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
}
.works__palette--subtitle {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #fff;
}

/*

 Study 

*/
.study {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f9;
}
.study__title {
  padding-bottom: 30px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  color: #6a6a6a;
  text-transform: uppercase;
}
.study__subtitle {
  padding-bottom: 100px;
  position: relative;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #999;
  z-index: 100;
}
.study__subtitle::after {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 7px;
  width: 200px;
  content: ".";
  font-size: 0;
  background-image: url(../img/devider.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}
.study__block {
  padding: 50px 0;
  display: flex;
  background-image: url(../img/study.png);
  background-position: right;
  background-repeat: no-repeat;
}
.study__slider {
  padding: 80px 60px 50px;
  width: 56.83%;
  display: flex;
  background: #fff;
  box-sizing: border-box;
  box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);
}
.study__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.study__content--icons {
  margin-bottom: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.6875rem;
  height: 5.6875rem;
  background-color: #e74c3c;
  transform: rotate(45deg);
}
.study__content--svg {
  width: 23px;
  height: 34px;
  fill: #fff;
  transform: rotate(-45deg);
}
.study__content--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  font-weight: 600;
  color: #6a6a6a;
  text-transform: uppercase;
}
.study__content--title::after {
  margin-top: 30px;
  display: block;
  content: ".";
  font-size: 0;
  height: 1px;
  width: 40px;
  background-color: #888888;
}
.study__content--text {
  padding-bottom: 50px;
  max-width: 540px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  color: #999;
  line-height: 1.5rem;
  text-align: center;
}
.study__content--btn {
  margin-bottom: 50px;
  padding: 20px 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #e74c3c;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.study__controls--list {
  display: flex;
}
.study__controls--item {
  margin-right: 8px;
}
.study__controls--item:last-of-type {
  margin-right: 0;
}
.study__controls--switch {
  border: none;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #f4f5f9;
  cursor: pointer;
}
.study__controls--switch:hover {
  background-color: #e74c3c;
}
.study__controls--switch.active {
  background-color: #e74c3c;
}

/*

 Stats

*/
.stats {
  padding: 150px 0;
  background-image: url(../img/stats-bg.png);
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}
.stats__block {
  display: flex;
  justify-content: space-between;
}
.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.stats__item--icons {
  padding: 40px;
  margin-bottom: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
}
.stats__item--icon {
  width: 31px;
  height: 31px;
}
.stats__number {
  padding-bottom: 15px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.875rem;
  font-weight: 700;
  color: #f4f5f9;
}
.stats__desc {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  color: #f4f5f9;
}

/*

 Pricing

*/
.pricing {
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__title {
  padding-bottom: 30px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #6a6a6a;
}
.pricing__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 65px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #999;
}
.pricing__subtitle::after {
  margin-top: 30px;
  display: block;
  height: 7px;
  width: 200px;
  content: ".";
  font-size: 0;
  background-image: url(../img/devider.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.pricing__block {
  display: flex;
  justify-content: space-between;
}
.pricing__box {
  width: 33.33333%;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pricing__box:first-of-type {
  margin-left: 0;
}
.pricing__box:last-of-type {
  margin-right: 0;
}
.pricing__box--container {
  padding: 50px 0 135px;
  width: 100%;
  background-color: #999;
  display: flex;
  justify-content: center;
}
.pricing__box--container.focus {
  background-color: #e74c3c;
}
.pricing__box--title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
}
.pricing__box--listfield {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4f5f9;
}
.pricing__box--price {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  transform: translateY(-50%);
  height: 9.375rem;
  width: 9.375rem;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.25);
  background-clip: content-box;
  z-index: 50;
}
.pricing__box--amount {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.4375rem;
  color: #999;
}
.pricing__box--month {
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  color: #999;
}
.pricing__box--list {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -30px 0 50px;
}
.pricing__box--item {
  padding-bottom: 25px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: #999;
}
.pricing__box--item:last-of-type {
  padding-bottom: 0;
}
.pricing__box--btn {
  margin-bottom: 50px;
  padding: 20px 40px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  background-color: #999;
  border-radius: 2px;
  border: none;
  box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.pricing__box--btn.focus {
  background-color: #e74c3c;
}
.pricing__box--btn:hover {
  background-color: #e74c3c;
}

/*

 Team

*/
.team {
  position: relative;
  padding: 150px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../img/team-bg.png);
  background-color: rgba(32, 32, 32, 0.75);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.team div::after {
  content: "";
  background: url(../img/team-figure.png);
  opacity: 0.1;
  width: 100%;
  top: 25%;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 50;
}
.team__title {
  padding-bottom: 30px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: uppercase;
  color: #fff;
}
.team__subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 65px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #f4f5f9;
}
.team__subtitle::after {
  margin-top: 30px;
  display: block;
  height: 7px;
  width: 200px;
  content: ".";
  font-size: 0;
  background-image: url(../img/devider.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.team__block {
  padding-bottom: 370px;
}
.team__list {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.team__item {
  position: absolute;
  width: 20%;
  height: 100%;
  min-height: 255px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
}
.team__item--img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: all 0.5s ease-out;
  border: 5px solid #e74c3c;
  overflow: hidden;
}
.team__item--img:hover {
  transform: scale(1.5);
  box-shadow: 0 5px 15px #000;
}
.team__item--img:hover ~ .team__position, .team__item--img:hover + .team__name {
  display: flex;
}
.team__item--img:hover::after {
  content: ".";
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(231, 76, 60, 0.5);
  z-index: 1000;
}
.team__item.img1 {
  top: 0;
  left: 0;
}
.team__item.img2 {
  top: 0;
  left: 20%;
}
.team__item.img3 {
  top: 0;
  left: 40%;
}
.team__item.img4 {
  top: 0;
  left: 60%;
}
.team__item.img5 {
  top: 0;
  left: 80%;
}
.team__name {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #e74c3c;
}
.team__name::before {
  margin-bottom: 30px;
  content: ".";
  display: block;
  font-size: 0;
  width: 1px;
  height: 107px;
  background-color: #fff;
}
.team__position {
  display: none;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #fff;
}

/*
===================
 Footer 
=================== 
*/
.footer {
  padding: 35px 0;
  background-color: #202020;
}
.footer__socials {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  display: flex;
  font-size: 1.3125rem;
}
.footer__item {
  margin-right: 25px;
}
.footer__link {
  color: #999;
}
.footer__link:hover {
  color: #e74c3c;
}
.footer__copy {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  color: #999;
}
