html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
===================
Variables  
=================== 
*/
/* Colors */
/* Fonts */
/* Adaptive sizes */
/*
===================
 Basic 
=================== 
*/
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*
===================
 Header 
=================== 
*/
.header {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  margin: 0 auto;
  z-index: 100;
}
.header__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__nav {
  display: flex;
  align-items: stretch;
}
.header__nav--list {
  display: flex;
  align-items: center;
}
.header__nav--item {
  margin-left: 60px;
}
.header__nav--link {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  color: #f4f5f9;
  text-transform: uppercase;
  text-decoration: none;
}
.header__nav--link:hover {
  padding-bottom: 19px;
  color: #e74c3c;
  border-bottom: 1px solid #e74c3c;
}

/*
===================
 Main 
=================== 
*/
.slider {
  position: relative;
  min-height: 46.5625vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/banner.png);
  background-color: rgba(0, 0, 0, 0.7);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 10;
}
.slider::after {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  width: 100%;
  display: block;
  content: ".";
  font-size: 0;
  border: 49vw solid #fff;
  border-bottom: 0px solid;
  border-top: 120px solid rgba(0, 0, 0, 0);
  box-sizing: border-box;
  z-index: -10;
}
.slider__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider__pretitle {
  padding-bottom: 50px;
  font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  color: #f4f5f9;
}
.slider__title {
  position: relative;
  padding-bottom: 100px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
  font-weight: 700;
  color: #f4f5f9;
  text-transform: uppercase;
  z-index: 100;
}
.slider__title::after {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 7px;
  width: 200px;
  content: ".";
  font-size: 0;
  background-image: url(../img/devider.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 50;
}
.slider__desc {
  padding-bottom: 75px;
  max-width: 600px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #cbc6c0;
  text-align: center;
}
.slider__btns {
  display: flex;
  justify-content: center;
}
.slider__btns--btn {
  min-width: 225px;
  margin-right: 15px;
  padding: 20px 0;
  background: none;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 0.875rem;
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.slider__btns--btn:last-of-type {
  margin-right: 0;
  margin-left: 15px;
}
.slider__btns--btn:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
}
.slider__controls {
  position: absolute;
  top: 45%;
  transform: translateX(-50%);
  height: 2.8125rem;
  width: 2.8125rem;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  background: #716b64;
  font-size: 20px;
  color: #fff;
  border-radius: 2px;
  mix-blend-mode: multiply;
  z-index: 50;
}
.slider__controls.left {
  left: 5%;
}
.slider__controls.right {
  left: 95%;
}
.slider__controls i {
  width: 100%;
}
.slider__controls:hover {
  background-color: #e74c3c;
  mix-blend-mode: normal;
}
.slider__anchor {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.25);
  background-clip: content-box;
  z-index: 50;
}
.slider__anchor svg {
  width: 22px;
  height: 31px;
  fill: #e74c3c;
}
