@charset "UTF-8";
/*
===================
 CSS RESET 
=================== 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
===================
Variables  
=================== 
*/
/* Colors */
/* Fonts */
/* Adaptive sizes */
/*
===================
 Basic 
=================== 
*/
.wrapper {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@media only screen and (max-width: 1400px) {
  .wrapper {
    max-width: 1000px;
  }
}
@media only screen and (max-width: 1100px) {
  .wrapper {
    max-width: 700px;
  }
}
@media only screen and (max-width: 800px) {
  .wrapper {
    max-width: none;
    padding: 0 15px;
    box-sizing: border-box;
  }
}
/*
===================
 Header 
=================== 
*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  z-index: 1;
}
.header .some {
  display: flex;
  justify-content: space-between;
}
.header-logo {
  transform: translateX(-25%);
}
.header-logo-img {
  width: 100%;
}
.header-nav {
  display: flex;
}
.header-nav-list {
  display: flex;
  align-items: center;
}
.header-nav-list-item {
  padding-left: 55px;
}
.header-nav-list-item:first-of-type {
  padding-left: 0;
}
.header-nav-list-link {
  color: #fff;
  text-decoration: none;
  font-family: "Gentium Book Basic", Arial, Helvetica, sans-serif;
  font-size: 1.3125rem;
  padding-top: 2.625rem;
}
.header-nav-list-link:hover {
  border-top: 3px solid #fff;
}
.header-socials {
  display: flex;
}
.header-socials-list {
  padding-left: 20px;
  display: flex;
  align-items: center;
}
.header-socials-list-item {
  padding-left: 15px;
  font-size: 19px;
  text-align: center;
}
.header-socials-list-item a {
  text-decoration: none;
  color: #dab33e;
}
.header-socials-list-item a:hover {
  color: #ffbf00;
}
.header-socials-list-item a:active {
  color: #dab33e;
}
.header-socials-list-item .list-item-icon {
  width: 20px;
  height: 20px;
  fill: #dab33e;
}
.header-socials-list-item .list-item-icon:hover {
  fill: #ffbf00;
}
.header-socials-list-item .list-item-icon:active {
  fill: #dab33e;
}
.header-socials-list-item:first-of-type {
  padding-left: 0;
}
.header-menu-toggle {
  display: none;
  align-items: center;
}
.header-menu-toggle-burger {
  font-size: 19px;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1400px) {
  .header-logo {
    transform: none;
  }
  .header-logo-img {
    width: 75%;
  }
  .header-nav-list-item {
    padding-left: 35px;
  }
  .header-nav-list-link {
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1100px) {
  .wrapper {
    max-width: 750px;
  }
}
@media only screen and (max-width: 800px) {
  .header-socials-list-item a {
    text-decoration: none;
    color: #fff;
  }
  .header-socials-list-item a:hover {
    color: #dab33e;
  }
  .header-socials-list-item a:active {
    color: #fff;
  }
  .header-socials-list-item .list-item-icon {
    fill: #fff;
  }
  .header-socials-list-item .list-item-icon:hover {
    fill: #dab33e;
  }
  .header-socials-list-item .list-item-icon:active {
    fill: #fff;
  }
  .header-menu-toggle {
    display: flex;
    padding-left: 15px;
  }
  .header-menu-toggle-burger:hover {
    color: #dab33e;
  }
  .header-nav-list {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .header-logo-img {
    width: 50%;
  }
}
/*
===================
 Main
=================== 
*/
/* Banner */
.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 46.8vw;
  background-image: url(../img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-title {
  max-width: 970px;
  font-family: "Yeseva One", Arial, Helvetica, sans-serif;
  font-size: 5.625rem;
  text-align: center;
  line-height: 6.75rem;
  color: rgba(255, 255, 255, 0.92);
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.64);
}
.banner-title::after {
  padding: 35px 0;
  content: ".";
  font-size: 0;
  margin: 0 auto;
  display: block;
  height: 45px;
  background-image: url(../img/main-separater.png);
  background-repeat: no-repeat;
  background-position: center;
}
.banner-block-btn {
  margin-right: 0.9375rem;
  padding: 1.25rem 3.125rem;
  background-color: rgba(255, 255, 255, 0.28);
  border: 1px solid rgba(255, 255, 255, 0.7);
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}
.banner-block-btn:last-of-type {
  margin-left: 0.9375rem;
  margin-right: 0;
}
.banner-block-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
}
.banner-block-btn:active {
  border: 1px solid rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 1400px) {
  .banner {
    min-height: 66.8vw;
  }
  .banner-title {
    max-width: 870px;
    font-size: 4rem;
    line-height: 4.75rem;
  }
  .banner-title::after {
    padding: 25px 0;
  }
  .banner-block-btn {
    padding: 1rem 3rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 1100px) {
  .banner {
    min-height: 84.8vw;
    background-position: center;
  }
  .banner-title {
    max-width: 635px;
    font-size: 3rem;
    line-height: 3rem;
  }
  .banner-title::after {
    background-size: 40%;
  }
  .banner-block-btn {
    padding: 0.75rem 2.75rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 800px) {
  .banner {
    min-height: 100.8vw;
  }
  .banner-title {
    max-width: 350px;
    font-size: 2rem;
    line-height: 2rem;
  }
  .banner-title::after {
    background-size: 50%;
    padding: 10px 0;
  }
  .banner-block-btn {
    padding: 0.5rem 1.75rem;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 550px) {
  .banner {
    min-height: 170.8vw;
  }
  .banner-title {
    max-width: 280px;
    font-size: 1.5rem;
    padding-bottom: 10px;
  }
  .banner-title::after {
    display: none;
  }
  .banner-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-block-btn {
    padding: 0.5rem 1.75rem;
    font-size: 1rem;
    margin-right: 0;
  }
  .banner-block-btn:first-of-type {
    margin-bottom: 15px;
  }
  .banner-block-btn:last-of-type {
    margin-left: 0;
  }
}
/* About */
.about {
  position: relative;
  padding-top: 4.6875rem;
  padding-bottom: 3.125rem;
  background-image: url(../img/pattern-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.about::after {
  content: ".";
  width: 100%;
  height: 100%;
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: -1;
}
.about-block {
  display: flex;
}
.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}
.about-title {
  font-family: "Yeseva One", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  color: #cc9900;
}
.about-title::after {
  padding-top: 0.9375rem;
  padding-bottom: 2.1875rem;
  content: ".";
  font-size: 0;
  margin: 0 auto;
  display: block;
  height: 1.5rem;
  background-image: url(../img/divider-orange.png);
  background-repeat: no-repeat;
  background-position: center;
}
.about-text {
  margin-bottom: 45px;
  max-width: 430px;
  line-height: 1.5rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  text-align: center;
}
.about-img {
  transform: translateX(16%);
}
.about-aside {
  width: 50%;
}
.about-aside-img {
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .about-content {
    width: 100%;
  }
  .about-aside {
    display: none;
  }
}
@media only screen and (max-width: 550px) {
  .about-title {
    font-size: 1.5rem;
  }
}
/* Ingredients */
.ingredients {
  background-image: url(../img/ingredients-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.ingredients-block {
  display: flex;
  justify-content: flex-end;
}
.ingredients-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6.25rem 0;
  background-color: rgba(0, 0, 0, 0.67);
  width: 50%;
}
.ingredients-title {
  position: relative;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 4.375rem;
  font-family: "Yeseva One", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.ingredients-title::after {
  position: absolute;
  top: 135px;
  left: 0;
  content: ".";
  font-size: 0;
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 1.5rem;
  background-image: url(../img/divider-white.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.ingredients-text {
  padding-bottom: 70px;
  max-width: 420px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #fff;
  text-align: center;
  line-height: 24px;
}
.ingredients-container {
  display: flex;
  margin-bottom: 80px;
}
.ingredients-images {
  margin-right: 30px;
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.09);
  overflow: hidden;
  z-index: 1;
}
.ingredients-images:last-of-type {
  margin-right: 0;
}
.ingredients-img1 {
  position: absolute;
  top: -31px;
  left: -45px;
  z-index: -1;
}
.ingredients-img2 {
  position: absolute;
  top: -89px;
  left: -42px;
  z-index: -1;
}
.ingredients-img3 {
  position: absolute;
  top: -16px;
  left: -43px;
  z-index: -1;
}

@media only screen and (max-width: 1100px) {
  .ingredients-content {
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .ingredients-images {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 550px) {
  .ingredients-title::after {
    top: 170px;
  }
  .ingredients-text {
    max-width: 300px;
  }
  .ingredients-images {
    width: 50px;
    height: 50px;
  }
}
/* Menu */
.menu {
  position: relative;
  padding-top: 6.25rem;
  padding-bottom: 1.875rem;
  background-image: url(../img/pattern-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.menu::after {
  content: ".";
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: -1;
}
.menu-block {
  display: flex;
  flex-wrap: wrap;
}
.menu-category {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
  width: 50%;
  padding: 0 10px;
  box-sizing: border-box;
}
.menu-category-title {
  position: relative;
  width: 100%;
  margin-bottom: 70px;
  font-family: "Yeseva One", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  color: #cc9900;
  text-align: center;
  z-index: 1;
}
.menu-category-title::after {
  position: absolute;
  top: 50px;
  left: 0;
  content: ".";
  font-size: 0;
  margin: 0 auto;
  display: block;
  height: 1.5rem;
  width: 100%;
  background-image: url(../img/divider-orange.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.menu-category-list {
  min-width: 430px;
}
.menu-category-list-item {
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
}
.menu-category-list-item .dish {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  font-family: "Yeseva One", Arial, Helvetica, sans-serif;
  font-size: 1.3125rem;
  color: #c89f2d;
  z-index: 2;
}
.menu-category-list-item .dish::after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: ".";
  font-size: 0;
  margin-top: 35px;
  width: 100%;
  height: 1px;
  z-index: 2;
  background: linear-gradient(0.25turn, rgba(229, 217, 177, 0.5), rgba(201, 161, 49, 0.5), rgba(229, 217, 177, 0.5));
}
.menu-category-list-item .dish-description {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
}
.menu-category-list-item.special {
  position: relative;
  border: 1px solid #dab33e;
  z-index: 1;
}
.menu-category-list-item.special::before {
  position: absolute;
  top: -25px;
  right: -1px;
  display: block;
  content: "Special";
  padding: 5px 10px;
  background-color: rgba(200, 159, 45, 0.7);
  font-size: 0.875rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #fff;
  z-index: 2;
}
.menu-category-list-item:last-of-type {
  margin-bottom: 0;
}

@media only screen and (max-width: 1100px) {
  .menu-category-list {
    min-width: 340px;
  }
}
@media only screen and (max-width: 800px) {
  .menu-category {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .menu-category-list {
    min-width: 300px;
  }
}
/* Reviews */
.reviews {
  background-image: url(../img/reviews-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.reviews-block {
  display: flex;
  justify-content: center;
}
.reviews-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 70px 100px;
  margin: 6.25rem 0;
  background-color: rgba(0, 0, 0, 0.67);
}
.reviews-title {
  position: relative;
  width: 100%;
  padding-bottom: 4.375rem;
  font-family: "Yeseva One", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  color: #fff;
  text-align: center;
  z-index: 1;
}
.reviews-title::after {
  position: absolute;
  top: 50px;
  left: 0;
  content: ".";
  font-size: 0;
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 1.5rem;
  background-image: url(../img/divider-white.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.reviews-text {
  position: relative;
  padding-bottom: 70px;
  max-width: 630px;
  font-family: "Gentium Book Basic", Arial, Helvetica, sans-serif;
  font-size: 1.5625rem;
  line-height: 45px;
  color: #dde0df;
  text-align: center;
  z-index: 1;
}
.reviews-text::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  transform: translateX(-75%);
  content: "“";
  font-size: 96px;
  font-family: Georgia;
  opacity: 0.47;
  color: #f2f4f4;
  z-index: 1;
}
.reviews-author {
  font-size: 1.125rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .reviews-text {
    font-size: 1.3125rem;
    line-height: 35px;
  }
}
@media only screen and (max-width: 550px) {
  .reviews-text {
    font-size: 1rem;
    line-height: 25px;
  }
}
@media only screen and (max-width: 550px) {
  .reviews-title::after {
    position: absolute;
    top: 90px;
  }
  .reviews-text {
    padding-bottom: 40px;
  }
  .reviews-text::before {
    font-size: 60px;
  }
  .reviews-content {
    margin: 3.25rem 0;
    padding: 30px 20px 30px;
  }
}
/* Reservations */
.reservations {
  position: relative;
  padding: 100px 0;
  background-image: url(../img/pattern-1.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}
.reservations::after {
  content: ".";
  font-size: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.98);
  z-index: -1;
}
.reservations-block {
  display: flex;
}
.reservations-images {
  width: 50%;
}
.reservations-images-img {
  margin-right: 15px;
  width: 45%;
}
.reservations-images-img:last-of-type {
  margin-right: 0;
  margin-left: 15px;
}
.reservations-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  text-align: center;
}
.reservations-title {
  font-family: "Yeseva One", Arial, Helvetica, sans-serif;
  font-size: 2.25rem;
  color: #cc9900;
}
.reservations-title::after {
  padding-top: 0.9375rem;
  padding-bottom: 1.875rem;
  content: ".";
  font-size: 0;
  margin: 0 auto;
  display: block;
  height: 1.5rem;
  background-image: url(../img/divider-orange.png);
  background-repeat: no-repeat;
  background-position: center;
}
.reservations-text {
  margin-bottom: 20px;
  max-width: 430px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  color: #4c4c4c;
  line-height: 24px;
}
.reservations-form {
  max-width: 430px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.reservations-form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  width: 50%;
  z-index: 1;
}
.reservations-form-field-label {
  margin-bottom: 10px;
  justify-self: flex-end;
  font-size: 0.875rem;
  font-weight: 700;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #c9a131;
}
.reservations-form-field-input {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #7c7c7c;
  padding-left: 10px;
  min-width: 200px;
  height: 35px;
  box-sizing: border-box;
  font-style: italic;
  outline: none;
  border: 1px solid;
}
.reservations-form-field-input:focus {
  border: 1px solid #c89f2d;
}
.reservations-form-field-icon {
  position: absolute;
  top: 55%;
  left: 80%;
  font-size: 16px;
  color: #7c7c7c;
  z-index: 1;
}
.reservations-form-field-block {
  display: flex;
  justify-content: center;
  width: 100%;
}
.reservations-form-field-btn {
  padding: 10px 60px;
  background-color: #c9a131;
  border: none;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #fff;
  cursor: pointer;
}
.reservations-form-field-btn:hover {
  background-color: #ffbf00;
}
.reservations-form-field-btn:active {
  background-color: #c9a131;
}

@media only screen and (max-width: 1100px) {
  .reservations-images {
    display: none;
  }
  .reservations-content {
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .reservations-form {
    flex-direction: column;
  }
  .reservations-form-field {
    width: 100%;
  }
  .reservations-form-field-icon {
    left: 85%;
  }
  .reservations-form-field-input {
    min-width: 270px;
  }
  .reservations-form-field-btn {
    width: 100%;
  }
}
/*
===================
 Footer
=================== 
*/
.footer {
  background-color: #191919;
}
.footer-block {
  display: flex;
  padding: 60px 0 70px;
  color: #fff;
}
.footer-content {
  width: 33.33333%;
  text-align: center;
}
.footer-title {
  position: relative;
  font-family: "Yeseva One", Arial, Helvetica, sans-serif;
  color: #fefefe;
  font-size: 1.3125rem;
  padding-bottom: 60px;
  z-index: 1;
}
.footer-title::after {
  position: absolute;
  top: 35px;
  left: 0;
  content: ".";
  font-size: 0;
  width: 100%;
  margin: 0 auto;
  display: block;
  height: 1.5rem;
  background-image: url(../img/divider-footer.png);
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1;
}
.footer-text {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  line-height: 24px;
}
.footer-text-special {
  font-weight: 700;
}
.footer-list {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.footer-list-item {
  margin-right: 10px;
  color: #fff;
}
.footer-list-item .link {
  text-decoration: none;
  color: #fff;
}
.footer-list-item .link:hover {
  color: #dab33e;
}
.footer-list-item .link:active {
  color: #838383;
}
.footer-list-item:last-of-type {
  margin-right: 0;
}

@media only screen and (max-width: 800px) {
  .footer-block {
    flex-wrap: wrap;
    padding: 15px 15px;
  }
}
@media only screen and (max-width: 550px) {
  .footer-block {
    flex-wrap: wrap;
    padding: 15px 15px;
    box-sizing: border-box;
  }
  .footer-content {
    width: 100%;
    padding-bottom: 20px;
  }
  .footer-list {
    margin-top: 10px;
    font-size: 40px;
  }
}
