@import "reset";

/*
===================
Variables  
=================== 
*/
/* Colors */
$gray: #f4f5f9;
$header: #6a6a6a;
$text: #cbc6c0;
$subtext: #999;
$red: #e74c3c;

/* Fonts */

$Sans: "Open Sans", Arial, Helvetica, sans-serif;
$Source: "Source Sans Pro", Arial, Helvetica, sans-serif;

/* Adaptive sizes */

$screen-exsm-max: 550px;
$screen-sm-max: 800px;
$screen-md-max: 1100px;
$screen-lg-max: 1400px;

/*
===================
 Basic 
=================== 
*/
.wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/*
===================
 Header 
=================== 
*/
.header {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    margin: 0 auto;
    z-index: 100;
    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__nav {
        display: flex;
        align-items: stretch;
        &--list {
            display: flex;
            align-items: center;
        }
        &--item {
            margin-left: 60px;
        }
        &--link {
            font-family: $Sans;

            font-size: 14 / 16 * 1rem;
            color: $gray;
            text-transform: uppercase;
            text-decoration: none;
            &:hover {
                padding-bottom: 19px;
                color: $red;
                border-bottom: 1px solid $red;
            }
        }
    }
}
/*
===================
 Main 
=================== 
*/
/*

 Slider 

*/
.slider {
    position: relative;
    min-height: (990 / 1920 * 100 * 1vw) - 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/banner.png);
    background-color: rgba($color: #000, $alpha: 0.7);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 10;
    &::after {
        position: absolute;
        top: 100%;
        transform: translateY(-100%);
        width: 100%;
        display: block;
        content: ".";
        font-size: 0;
        border: 49vw solid #fff;
        border-bottom: 0px solid;
        border-top: 120px solid rgba(0, 0, 0, 0);
        box-sizing: border-box;
        z-index: -10;
    }
    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__pretitle {
        padding-bottom: 50px;
        font-family: $Source;
        font-size: 24/16 * 1rem;
        color: $gray;
    }
    &__title {
        position: relative;
        padding-bottom: 100px;
        font-family: $Sans;
        font-size: 72/16 * 1rem;
        font-weight: 700;
        color: $gray;
        text-transform: uppercase;
        z-index: 100;
        &::after {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translateX(-50%);
            display: block;
            height: 7px;
            width: 200px;
            content: ".";
            font-size: 0;
            background-image: url(../img/devider.png);
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 50;
        }
    }
    &__desc {
        padding-bottom: 75px;
        max-width: 600px;
        font-family: $Sans;
        font-size: 14/16 * 1rem;
        line-height: 24/16 * 1rem;
        color: $text;
        text-align: center;
    }
    &__btns {
        display: flex;
        justify-content: center;
        &--btn {
            min-width: 225px;
            margin-right: 15px;
            padding: 20px 0;
            background: none;
            font-family: $Sans;
            font-size: 14/16 * 1rem;
            font-weight: 700;
            color: #fff;
            border: 1px solid #fff;
            border-radius: 2px;
            text-transform: uppercase;
            cursor: pointer;
            &:last-of-type {
                margin-right: 0;
                margin-left: 15px;
            }
            &:hover {
                background-color: $red;
                border-color: $red;
            }
        }
    }
    &__controls {
        position: absolute;
        top: 45%;
        transform: translateX(-50%);
        height: 45/16 * 1rem;
        width: 45/16 * 1rem;
        display: flex;
        align-items: center;
        text-align: center;
        text-decoration: none;
        background: #716b64;
        font-size: 20px;
        color: #fff;
        border-radius: 2px;
        mix-blend-mode: multiply;
        z-index: 50;
        &.left {
            left: 5%;
        }
        &.right {
            left: 95%;
        }
        i {
            width: 100%;
        }
        &:hover {
            background-color: $red;
            mix-blend-mode: normal;
        }
    }
    &__anchor {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 64/16 * 1rem;
        width: 64/16 * 1rem;
        background-color: #fff;
        border-radius: 50%;
        border: 5px solid rgba($color: #fff, $alpha: 0.25);
        background-clip: content-box;
        z-index: 50;
        svg {
            width: 22px;
            height: 31px;
            fill: $red;
        }
    }
}
/*

 Uniques 

*/
.uniques {
    padding: 115px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #e6e7eb;
    &__block {
        display: flex;
    }
    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25%;
        box-sizing: border-box;
        padding-left: 25px;
        padding-right: 25px;
        &:hover {
            .uniques__card {
                &--icons {
                    transform: rotate(45deg);
                    transition: 1s;
                    border-color: $red;
                }
                &--svg {
                    transform: rotate(-45deg);
                    transition: 1s;
                }
                &--title {
                    color: $red;
                }
            }
        }
        &:last-of-type {
            padding-right: 0;
        }
        &:first-of-type {
            padding-left: 0;
        }
        &--icons {
            margin-bottom: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 71/16 * 1rem;
            height: 71/16 * 1rem;
            border: 1px solid #e5e5e5;
        }
        &--svg {
            width: 30px;
            height: 27px;
            fill: $red;
        }
        &--title {
            padding-bottom: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $Sans;
            font-size: 18/16 * 1rem;
            font-weight: 600;
            color: $header;
            text-transform: uppercase;
            &::after {
                margin-top: 20px;
                display: block;
                content: ".";
                font-size: 0;
                height: 1px;
                width: 40px;
                background-color: #888888;
            }
        }
        &--text {
            max-width: 250px;
            font-family: $Source;
            font-weight: 300;
            font-size: 12/16 * 1rem;
            color: $subtext;
            line-height: 20/16 * 1rem;
            text-align: center;
        }
    }
}
/*

 About 

*/
.about {
    padding: 140px 0;
    &__block {
        display: flex;
    }
    &__side-img {
        padding-right: 40px;
        width: 50%;
        &--img {
            width: 100%;
        }
    }
    &__content {
        padding-left: 40px;
        width: 50%;
    }
    &__title {
        display: flex;
        padding-bottom: 55px;
        font-family: $Source;
        font-weight: 700;
        font-size: 36/16 * 1rem;
        text-transform: uppercase;
        color: $header;
        &::before {
            margin-right: 30px;
            content: ".";
            display: block;
            background-color: $red;
            font-size: 0;
            height: 36px;
            width: 6px;
        }
    }
    &__text {
        padding-bottom: 45px;
        font-family: $Source;
        font-size: 14/16 * 1rem;
        line-height: 29/16 * 1rem;
        color: $subtext;
    }
    &__btn {
        padding: 20px 40px;
        font-family: $Sans;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
        background-color: $red;
        border-radius: 2px;
        border: none;
        box-shadow: 0 2px 20px 5px rgba($color: #000000, $alpha: 0.25);
        cursor: pointer;
    }
}

// .grow:hover {
//     -webkit-transform: scale(1.2);
//     -ms-transform: scale(1.2);
//     transform: scale(1.2);
//   }
